.main {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.main1 {
}

.small-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.prep-1 {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #b4b4b4;
}

.prep {
  font-size: 10px;
  color: #b4b4b4;
}

.prepp {
  font-size: 10px;
}

.note {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.fa-pen-to-square {
  font-size: 8px;
}

.fa-face-grin-stars {
  font-size: 12px;
}

.ingred {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fa-circle-check {
  color: #ffa500;
}

.ing-ps {
  color: #a7a4a4;
  text-decoration: line-through;
}

.instruct {
  width: 80%;
}

.inst {
  display: flex;
}

.numb {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
  background-color: #ffa500;
  color: #fff;
  border: #ffa500;
  width: 14px;
}
