.footer {
  padding-top: 50px;
  width: 85%;
  margin: auto;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.col1 {
  width: 30%;
}

.last-img {
  width: 30%;
  text-align: center;
}

.lastp {
  font-size: small;
  color: rgb(165, 163, 163);
}

.col2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.final {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.fin1 {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 25px 0;
}

.fin2 {
  padding: 25px 0;
  display: flex;
  gap: 1rem;
}
